alembic
click
Faker
Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
mysql
mysql-connector-python
mysqlclient
nodejs
numpy
optional-django
pandas
passlib
protobuf
psycopg2
python-dateutil
python-editor
pytz
six
SQLAlchemy
text-unidecode
Werkzeug
WTForms
