{% extends "base.html" %} {% block main %}
<div class="card-group ">
    <div class="card-deck mx-auto">
        <div class="card p-sm-3">
            <h2 class="card-title mx-auto">About</h2>
            <div class="card-body">
                <h5>Welcome to our COMP3161 Final Project Demonstration.</h5>
                <h5 class="py-sm-2">Our Group Members Are:</h5>
                <p> Chevaun Bent: 620107660 </p>
                <p> Devondro Fisher: 620096314 </p>
                <p> Javarine Johnson: 620058786 </p>
                <p> Jenelle Holloway: 620118909 </p>
                <p> Raman Lewis: 620117907 </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}