{% extends "base.html" %} {% block title %} View All Meals {% endblock %} {% block main %} {% include 'flash_messages.html' %}
<h1>All Meal Plans</h1>
{% if meals != None%}
<div class="card-deck">
    {% for prop in meals %}
    <div class="card mb-4" style="min-width: 18rem; max-width: 22rem;">

        <div class="card-body">
            <span class="title"><b>Meal Plan Name</b> {{ prop[1]}}</span><br>
            <span class="title"> <b>Recipe Name</b>: {{ meals[29][1] }}</span><br>
            <span class="ins"> <b> Date Created </b>: {{ meals[29][2] }}</span><br>
            <span class="ins"> <b> Nutrition Number</b>: {{ meals[29][3] }}</span><br>
            <div>

            </div>
        </div>
        <br/>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="recipemessage">
    <h4>No Meals Uploaded yet. Upload a Meal to start viewing</h4>

</div>

{% endif %} {% endblock %}