{% extends "base.html" %} {% block main %} {% if 'username' in session %}
<div class="login-form center-block">
    <h2>Meal Plan</h2>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('meal') }}" method="POST">
        <div class="form-group col-sm-9 pl-0">
            {{ form.name.label }} {{ form.name(class='form-control', placeholder="Enter Meal Title") }}
        </div>
        <div>
            <input type="radio" id="select1" name="select1" checked>
            <label for="select1">Add Random Recipe</label>
        </div>
        <div>
            <input type="radio" id="select2" name="select1">
            <label for="select2">Select Recipe to add (Was not implemented)</label>
        </div>
        <button type="submit" name="submit" class="btn btn-primary ">Add Meal</button>
    </form>
</div>
{% else %}
<h1>You need to be logged in to Add Recipes</h1>
{% endif %} {% endblock %}