{% extends "base.html" %} {% block main %} {% if 'username' in session %}
<div class="login-form center-block">
    <h2>Please fill in Recipe information</h2>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('addrecipe') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group col-sm-9 pl-0">
            {{ form.name.label }} {{ form.name(class='form-control', placeholder="Enter Recipe Title") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.servings.label }} {{ form.servings(class='form-control', placeholder = "Enter Serving value") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.nutrition_no.label }} {{ form.nutrition_no(class='form-control', placeholder = "Enter nutrition number") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.calories.label }} {{ form.calories(class='form-control', placeholder = "Enter Calories") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.total_fat.label }} {{ form.total_fat(class='form-control', placeholder = "Total Fat") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.sugar.label }} {{ form.sugar(class='form-control', placeholder = "Enter Sugar") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.sodium.label }} {{ form.sodium(class='form-control', placeholder = "Enter Sodium") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.protein.label }} {{ form.protein(class='form-control', placeholder = "Enter Protein") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.saturated_fat.label }} {{ form.saturated_fat(class='form-control', placeholder = "Enter Saturated Fat") }}
        </div>
        <div class="form-group col-sm-9 pl-0">
            {{ form.instructions.label }} {{ form.instructions(class='form-control', placeholder = "Enter instructions with , after each instruction") }}
        </div>
        <div class="form-group">
            <div class="col-sm-5 pl-0">
                {{ form.upload.label }} {{ form.upload(class='form-control') }}
            </div>
        </div>
        <button type="submit" name="submit" class="btn btn-primary ">Add Recipe</button>
    </form>
</div>
{% else %}
<h1>You need to be logged in to Add Recipes</h1>
{% endif %} {% endblock %}