{% extends "base.html" %} {% block title %} View All Recipes {% endblock %} {% block main %} {% include 'flash_messages.html' %}
<h1>Recipes</h1>
{% if recipes != None%}
<div class="card-deck">
    {% for prop in recipes %}
    <div class="card mb-4" style="min-width: 18rem; max-width: 22rem;">
        <div class="card-img-top">
            <img class="image" src="{{ url_for('get_image', filename = prop[0]) }}" />
        </div>

        <div class="card-body">
            <span class="title"> <b> Name </b>: {{ prop[1]}}</span><br>
            <span class="ins"> <b> Serving </b>: {{prop[2]}}</span><br>
            <span class="ins"> <b> Nutrition Number</b>: {{prop[3]}}</span><br>
            <br/>
            <a href="{{ url_for('get_recipe', recipe_id = prop[0]) }}" class="link">
                <button class='btn btn-primary text-white font-sml font-weight-bold view_recipe_button' type="button">View Recipe</button>
            </a>
        </div>
        <br/>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="recipemessage">
    <h4>No Recipes Uploaded yet. Upload a Recipe to start viewing</h4>

</div>

{% endif %} {% endblock %}