{% extends "base.html" %} {% include 'flash_messages.html' %} {% block main %}
<h4 class="text-center">{% block title %} View Recipe {% endblock %} </h4>
{% if recipe != null %}
<div class="card mx-auto" style="width: 28rem;">
    <div class="card-img-top">
        <img class="singleimg" src="{{ url_for('get_image', filename = recipe[0]) }}", alt="Image Unavailable" />
    </div>
    <div class="card-body">
        <span class="singletitle"><h3>{{ recipe[1]}}</h3></span>
        <span class="singleins"><b>Servings: </b>{{ recipe[2] }}</span><br>
        <span class="singlecdate"><b>Instructions: 
        <ul>
            {% for ins in recipe[4] %}
                <li>{{ins[0]}}</li>
            {%endfor%}
    </ul>

    </div>
    <br/>
</div>
{% else %}
<div class="singlerecipemessage">
    <p>No Recipe Selected. Select a recipe to start viewing</p>
</div>

{% endif %} {% endblock %}